<div class="row col-lg-12">
    <div class="card mt5 mb-5">
		<div class="card-body">
			<h2 class="text-center">edit employee</h2>
		</div>
	</div>

	<%= form_with model: @employee do |form| %>
		<div class="row">
			<div class="col-lg-4">
				<div class="form-group">
					<%= form.label :name, class: "mb-2" %>
					<%= form.text_field :name, class: "form-control form-control-lg" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="form-group">
					<%= form.label :contact, class: "mb-2" %>
					<%= form.text_field :contact, class: "form-control form-control-lg" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="form-group">
					<%= form.label :address, class: "mb-2" %>
					<%= form.text_field :address, class: "form-control form-control-lg" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 mt-4">
				<%= form.submit class: "btn btn-primary btn-lg" %>
				<%= link_to "back to employee", employees_path, class: "btn btn-outline-primary btn-lg" %>

			</div>
		</div>

	<% end %>
</div>