<div class="row col-lg-12">
    <div class="card mt5 mb-5">
		<div class="card-body">
			<h2 class="text-center">Create Employee</h2>
		</div>
	</div>

	<%= form_with model: @employee do |form| %>
		<div class="row">
			<% if @employee.errors.any? %>
				<div class="col-lg-12">
					<p class="lead">please fix errors below</p>
					<% @employee.errors.full_messages.each do |message| %>
						<p class="text-danger"><%= message %></p>
					<% end %>
				</div>
			<% end %>
			<div class="col-lg-4">
				<div class="form-group">
					<%= form.label :name, class: "mb-2" %>
					<%= form.text_field :name, class: "form-control form-control-lg" %>
					<% @employee.errors.full_messages_for(:name).each do |message| %>
						<P class="text-danger"><%= message %></P>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="form-group">
					<%= form.label :contact, class: "mb-2" %>
					<%= form.text_field :contact, class: "form-control form-control-lg" %>
					<% @employee.errors.full_messages_for(:contact).each do |message| %>
						<P class="text-danger"><%= message %></P>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="form-group">
					<%= form.label :address, class: "mb-2" %>
					<%= form.text_field :address, class: "form-control form-control-lg" %>
					<% @employee.errors.full_messages_for(:address).each do |message| %>
						<P class="text-danger"><%= message %></P>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 mt-4">
				<%= form.submit class: "btn btn-primary btn-lg" %>
				<%= link_to "back to employee", employees_path, class: "btn btn-outline-primary btn-lg" %>

			</div>
		</div>

	<% end %>
</div>