<div class="row col-lg-12">
    <div class="card mt5 mb-5 ">
		<div class="card-body">
			<h2 class="text-center">Listing Employees</h2>
			<div class="row">
				<h2 class="text-center">personal detail</h2>
				<p class="lead"><strong>Name:</strong> <%= @employee.name %></p>
				<p class="lead"><stong>contact:</stong> <%= @employee.contact %></p>
				<p class="lead"><strong>Address:</strong><%= @employee.address %></p>
			</div>
			<%= link_to "back to employee", employees_path, class: "btn btn-outline-primary btn-lg" %>
			<%= link_to "edit", edit_employee_path(@employee), class: "btn btn-outline-primary btn-lg" %>
		</div>
	</div>
</div>